@media print, screen and (min-width: 640px) {

	body{
		background-image:url(../img/bg1.jpg);
		border-radius: 15px;
			}

	.pagebody{
		width:920px;
		height:auto;
		margin:0 auto;
		padding:10px;
		border:0px solid green;
		background-color: #2573BE;
		border-radius: 15px;
	}
	.pagebody a img{
		float: right;
		padding: 5px;
	}
	.pagebody h1{
		display: inline;
		text-align: left;
		margin: 10px;
		color: white;

	}

	header{
		width:900px;
		height:120px;
		margin:5px;
		padding:5px;
		border:2px solid #c98b97;
		background-color: #0D4E92;
		border-radius: 15px 15px 0px 0px;
	}
/*	.b1img img{
		width: 870px;
		height: 300px;
		padding: 10px;
		margin: 0px 10px;
	}
*/

	.tophidden{
		display: none;
	}


	.maincontent{
		width: 880px;
		height: auto;
		margin: 10px 10px 10px -10px;
		padding: 10px;
		border-width: 3px;
		
		background-color: #246CB6;
		border-radius: 15px 15px 0px 0px;
	}

	.submenu{
		width:160px;
		height: auto;
		margin:10px;
		padding:10px;
		border:2px solid pink;
		background-color: #4267B2;
		float:left;
		border-radius: 15px 0px 15px 0px;
		border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
	}

	a{text-decoration:none;}

	.submenu_header{
		width:180px;
		height:30px;
		margin:10px;
		padding:10px;
		border:2px solid pink;
		background-color: lightcyan;
		float:left;
	}

	.submenubody{
		width:120px;
		height:15px;
		margin:10px;
		padding:10px;
		border:2px solid pink;
		background-color: lightcyan;
		background-image:url('img/nav2.jpg');
		float:left;
		border-radius: 15px 0px 15px 0px;
		 display: block;

	}
	.submenubody a{
				 color: white;
	}
	
	.submenu a:hover:not(.active) {
		  background-color: white;
		  color: black;

		}
	.active {
		  background-color: #AE878C;
		}
			

	.content{
		width:640px;
		padding: 0px 0px 0px 10px;
		height: auto;
		margin:10px;
		border:2px solid pink;
		background-color: lightblue;
		float:right;
		border-radius: 10px 0px 10px 0px;
	}

	
	footer{
		width:880px;
		padding:10px;
		height:30px;
		margin:10px;
		clear: both;
		border:1px solid pink;
		background-color: #40525C;
		border-radius: 0px 0px 15px 15px;
		text-align: center;
		color: white;
	}

	.topinline{
		display: inline-block;
		padding:5px;
		margin:0px;
		width:110px;
		height:20px;
		border:1px solid pink;
		background-color: inherit;
		-webkit-animation: mymove 10s infinite; /* Chrome, Safari, Opera */
		animation: mymove 10s infinite;
		font-size: 100%;
		border-radius: 10px 0px 10px 0px;
		text-decoration-color: white;
		text-align: center;
	}

	.topinline a:active {
		font-size: 120%;
	}

	@keyframes mymove
	{
		10%  {background-color:mistyrose;}
		50%  {background-color:greenyellow;}
		100%  {background-color:aquamarine;}
	}

	@-webkit-keyframes mymove /* Safari and Chrome */
	{
		10%  {background-color:mistyrose;}
		50%  {background-color:greenyellow;}
		100%  {background-color:aquamarine;}
	}

}


/*index page designing*/
.container{
	border:1px solid black;
	background-image:url('img/12.png');
	background-repeat: no-repeat;
  	background-size: 100% 600px;
  	border-radius: 10px 0px 10px 0px;
  	height: 580px;
  	width: 100%;
  	text-align: center;
}
.in1{
	color: white;
	font-size: 25px;
	text-align: left;
	font-weight: bold;
	color: black;
	padding: 15px 10px 0px 10px;
}
.in2{
	float: left;
	height: 200px;
	width: 210px;
	border-radius: 5px;
	border:1px solid white;
}
.in3{
	float: right;
	color: white;
	font-size: 25px;
	margin-right: 10px;
	margin-top: 20px;
	height: 100px;
	width: 400px;
}
.in3 span{
	background-color: #333333; 
	display:inline;
}
.in4 span a{
	color: #42ecf5;
}
.in4{
	clear: both;
	color: white;
	font-size: 17px;
	text-align: left;
	padding: 10px;
}
